# redmine api
api_key: 5029e19bced91284bcdefff3918405bcdef91830
redmine_url: https://projects.cecs.pdx.edu
intranet_keys_url: https://intranet.cecs.pdx.edu/projects/keys/
git_url:  git@projects.cecs.pdx.edu
svn_root: /www/svn/
git_root: /www/git/
logfile: /tmp/log
errorlog: /tmp/log2
gitolite_admin_path: /tmp/
default_key: /tmp/default_key
redmine_scripts_path: ~gitolite/redmine-scripts/
gitolite_tmpclonedir: ~gitolite/tmpclonedir/
git_readme: ~gitolite/git_readme

gitolite:
  host: db.example.org
  dbname: gitolite
  port: 5432
  username: gitolite
  password: changme!
  driver: Pg

redmine:
  host: db.example.org
  dbname: redmine
  port: 3306
  username: redmine
  password: changme!
  driver: Mysql
